﻿/*CSS for D3 chart documentation*/

/*Line styles*/
.c_line1 {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
    opacity: 0.4;
}

.c_line2 {
    fill: none;
    stroke: red;
    stroke-width: 2px;
    opacity: 0.4;
}

.c_line3 {
    fill: none;
    stroke: forestgreen;
    stroke-width: 2px;
    opacity: 0.4;
}

.c_line4 {
    fill: none;
    stroke: peachpuff;
    stroke-width: 2px;
    opacity: 0.4;
}

.c_line5 {
    fill: none;
    stroke: lightskyblue;
    stroke-width: 2px;
    opacity: 0.4;
}

/*x-axis styles*/
.c_x_axis text {
    font: 10px sans-serif;
}

.c_x_axis path,
.c_x_axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

/*y-axis styles*/
.c_y_axis text {
    font: 10px sans-serif;
}

.c_y_axis path,
.c_y_axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

/*Chart title styles*/
.c_title {
    text-anchor: middle;
    font: 15px sans-serif;
    font-weight: bold;
}

/*Axis title styles*/
.c_axis_title {
    text-anchor: middle;
    font: 13px sans-serif;
}

.c_data_label1 {
    text-anchor: middle;
    font: 10px sans-serif;
}

.c_data_label2 {
    text-anchor: middle;
    font: 10px sans-serif;
}

.c_data_label3 {
    text-anchor: middle;
    font: 10px sans-serif;
}

.c_data_label4 {
    text-anchor: middle;
    font: 10px sans-serif;
}

.c_data_label5 {
    text-anchor: middle;
    font: 10px sans-serif;
}

/*x-axis gridline styles*/
.c_x_grid {
    fill: none;
    stroke: grey;
    stroke-dasharray: 3 3;
    stroke-width: 1px;
    opacity: 0.7;
}

/*y-axis gridline styles*/
.c_y_grid {
    fill: none;
    stroke: grey;
    stroke-dasharray: 3 3;
    stroke-width: 1px;
    opacity: 0.7;
}

/*Point styles*/
.c_points1 {
    fill: black;
    stroke: #000;
    stroke-width: 1px;
}

.c_points2 {
    fill: black;
    stroke: #000;
    stroke-width: 1px;
}

.c_points3 {
    fill: black;
    stroke: #000;
    stroke-width: 1px;
}

.c_points4 {
    fill: black;
    stroke: #000;
    stroke-width: 1px;
}

.c_points5 {
    fill: black;
    stroke: #000;
    stroke-width: 1px;
}

.c_points1:hover {
    fill: none;
    stroke: #000;
    stroke-width: 14px;
}

/*Vertical highlight line styles*/
.c_v_high {
    fill: none;
    stroke: gray;
    stroke-width: 1px;
}

/*Horizontal highlight line styles*/
.c_h_high {
    fill: none;
    stroke: gray;
    stroke-width: 1px;
}

/*Tooltip styles*/
.c_tt_rect {
    fill: grey;
    stroke: midnightblue;
    stroke-width: 1px;
}

.c_tt_text {
    text-align: left;
    font-size: 10px;
    font-family: sans-serif;
    fill: whitesmoke;
}

/*Smoothed line styles*/
.c_sline1 {
    fill: none;
    stroke: darkblue;
    stroke-width: 3px;
    opacity: 0.4;
}

.c_sline2 {
    fill: none;
    stroke: darkred;
    stroke-width: 3px;
    opacity: 0.4;
}

.c_sline3 {
    fill: none;
    stroke: darkgreen;
    stroke-width: 3px;
    opacity: 0.4;
}

.c_sline4 {
    fill: none;
    stroke: sandybrown;
    stroke-width: 3px;
    opacity: 0.4;
}

.c_sline5 {
    fill: none;
    stroke: skyblue;
    stroke-width: 3px;
    opacity: 0.4;
}

.c_symbol_cross {
    fill: none;
    stroke: slateblue;
    stroke-width: 1px;
}

.c_error_bar {
    fill: none;
    stroke: darkblue;
    stroke-width: 1px;
}

.c_error_area {
    fill: gray;
    opacity: 0.3;
}

.c_data_bar1 {
    fill: steelblue;
    stroke: steelblue;
    stroke-width: 0px;
}

    .c_data_bar1:hover {
        fill: skyblue;
        stroke: steelblue;
        stroke-width: 1px;
    }

.c_data_bar2 {
    fill: red;
    stroke: red;
    stroke-width: 1px;
}

    .c_data_bar2:hover {
        fill: pink;
        stroke: red;
        stroke-width: 1px;
    }

/*Legend styles*/
.c_leg_rect {
    fill: none;
    stroke: black;
    stroke-width: 1px;
}

.c_leg_text {
    text-anchor: left;
    font-size: 10px;
    font: sans-serif;
}

.c_legend1 {
    fill: steelblue;
    stroke: steelblue;
    stroke-width: 1px;
}

.c_legend2 {
    fill: red;
    stroke: red;
    stroke-width: 1px;
}

.c_legend3 {
    fill: forestgreen;
    stroke: forestgreen;
    stroke-width: 1px;
}

.c_legend4 {
    fill: peachpuff;
    stroke: peachpuff;
    stroke-width: 1px;
}

.c_legend5 {
    fill: lightskyblue;
    stroke: lightskyblue;
    stroke-width: 1px;
}
