﻿body {
    background: #fff;
    color: #505050;
    font: 14px 'Segoe UI', tahoma, arial, helvetica, sans-serif;
    margin: 20px;
    padding: 0;
}

#header {
    background: #efefef;
    padding: 0;
}

h1 {
    font-size: 48px;
    font-weight: normal;
    margin: 0;
    padding: 0 30px;
    line-height: 110px;
}

p {
    font-size: 20px;
    color: #fff;
    background: #969696;
    padding: 0 30px;
    line-height: 50px;
}

#main {
    padding: 5px 30px;
}

.section {
    width: 37.7%;
    float: left;
    margin: 0 0 1.3% 2%;
    margin-top: 0px;
}

    .section textarea {
        font: 13px 'Segoe UI', tahoma, arial, helvetica, sans-serif;
        margin: 0;
        border-bottom: 1px solid silver;
        padding-bottom: 12px;
        margin-bottom: 8px;
    }

    .section h2 {
        font-size: 13px;
        text-transform: uppercase;
        margin: 0;
        border-bottom: 1px solid silver;
        padding-bottom: 12px;
        margin-bottom: 8px;
    }

    .section.first {
        width: 60%;
        margin-left: 0;
    }

        .section.first h2 {
            font-size: 24px;
            text-transform: none;
            margin-bottom: 25px;
            margin-right: 30px;
            border: none;
        }

        .section.first li {
            border-top: 1px solid silver;
            padding: 8px 0;
        }

    .section.top {
        margin-top: 10px;
    }

    .section.last {
        margin-right: 0;
    }

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 20px;
}

li {
    padding: 4px 0;
}

a {
    color: #267cb2;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }
